.sidebar {
  width: 20%;
  float: left;
  background-color: fuchsia;
}


img {
  width: 30;
  float: left;
}

.border1 {
  margin: 12px;
  border: 10px lightcoral;
  padding: 15px;
  background-color: gray;
  box-sizing: border-box;
  border-width: 5px;
}

.border2 {
  margin: 10px;
  border: 7px slateblue;
  padding: 5px;
  margin-bottom: 2px;
  background-color: grey;
  box-sizing: border-box;
  border-width: 5px;
}

.border3 {
  width: 100%;
  padding: 1px;
  border: solid black;
  border-width: 1px;
  background-color: orange;
  margin-bottom: 10px;
  box-sizing: border-box;
}